<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width"/>
        <title>{{ title }}</title>
    </head>

    <body>
        <div>
            {{ content | raw }}
        </div>
    </body>
</html>