<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bienvenue sur Easyresto</h1>
        <p>
            Bonjour,<br>
            Vous venez de vous inscrire sur Easyresto. Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :<br><br>
            {{ link }}
        </p>
    </body>
</html>