<div class="mail-container">
    Bienvenue sur Easyresto {{ (user.civility == 1 ) ? 'Monsieur' : 'Madame' }} {{ user.lastName }} !<br><br>

    Pour accéder au site et commencer à passer des commandes, cliquez sur le lien ci-dessous :<br>

    <a href="{{ base_front_url }}">Easyresto</a>
</div>