<div class="mail-container">
    Bienvenue sur Easyresto {{ (user.civility == 1 ) ? 'Monsieur' : 'Madame' }} {{ user.lastName }} !<br><br>

    Pour accéder à votre espace professionnel et commencer à gérer votre restaurant, cliquez sur le lien ci-dessous :<br>

    <a href="{{ base_front_url }}/pro">Espace pro</a> <br><br>

    Vous aurez la possibilité d'afficher votre restaurant au sein de notre site une fois que vous nous aurez fait parvenir les documents nécessaires.
</div>