Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe <br><br>

<a href="{{ base_front_url }}/reset?token={{ user.confirmationToken }}">{{ base_front_url }}/reset?token={{ user.confirmationToken }}</a>